<div class="tagManagerImportVersion">

    <div piwik-content-block content-title="{{ 'TagManager_ImportVersion'|translate }}">

        <p>{{ 'TagManager_VersionImportInfo'|translate }}</p>

        <div piwik-activity-indicator
             loading="importVersion.isUpdating"
             loading-message="'TagManager_UpdatingData'|translate"></div>

        <div piwik-field uicontrol="text" name="backupName"
             title="{{ 'TagManager_BackupVersionName'|translate}} ({{ 'General_Recommended'|translate }})"
             ng-model="importVersion.backupName"
             placeholder=" "
             inline-help="{{ 'TagManager_BackupVersionNameHelp'|translate }}">
        </div>

        <div piwik-field uicontrol="textarea" name="importContent"
             title="{{ 'TagManager_VersionImportContentTitle'|translate }}"
             placeholder=" "
             full-width="true"
             ng-model="importVersion.importContent">
        </div>

        <div piwik-save-button
             class="importVersion"
             disabled="!importVersion.importContent"
             onconfirm="importVersion.importVersion(importVersion.backupName, importVersion.importContent)"
             value="{{ 'TagManager_VersionImportOverwriteContent'|translate }}">
        </div>
    </div>

    <div class="ui-confirm" id="confirmImportContainerVersion">
        <h2>{{ 'TagManager_ConfirmImportContainerVersion'|translate }} </h2>
        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
    </div>

</div>