div[anchor='tagmanager'] div[matomo-tagmanager-tracking-code] {
  .list-style-decimal {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .tagManagerTrackingCode .row {
    margin-bottom: 0rem !important;
    margin-top: -0.5rem !important;
  }
}