div.admin > div[vue-entry='TagManager.TrackingCodePage'] {
  .list-style-decimal {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .tagManagerTrackingCode {
    > .row, > .row .row {
      margin-bottom: -0.5rem !important;
      margin-top: -0.5rem !important;
    }
  }
}