{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'Dashboard_Dashboard'|translate %}

{% block content %}
    <div
        vue-entry="TagManager.ContainerDashboard"
        id-container="{{ container.idcontainer|json_encode|e('html_attr') }}"
    ></div>

{% endblock %}