{% extends '@TagManager/tagmanager.twig' %}

{% set title %}{{ 'TagManager_GettingStarted'|translate|e }}{% endset %}

{% block content %}
<div
    vue-entry="TagManager.GettingStarted"
    can-edit="{{ canEdit|default(null)|json_encode }}"
></div>
{% endblock %}
