{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'TagManager_Tags'|translate %}

{% block content %}
    <div
        vue-entry="TagManager.TagManage"
        id-container="{{ container.idcontainer|json_encode|e('html_attr') }}"
        id-container-version="{{ idcontainerversion|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}