{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'TagManager_Versions'|translate %}

{% block content %}
    <div piwik-version-manage id-container="{{ container.idcontainer }}">
    </div>
{% endblock %}