{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'TagManager_InstallCode'|translate %}

{% block content %}
    <div piwik-manage-install-tag-code id-container="{{ container.idcontainer }}">
    </div>
{% endblock %}