<div piwik-content-block anchor="tagmanager" content-title="{{ 'TagManager_MatomoTagManager'|translate }}">
    <p>{{ 'TagManager_TagManagerTrackingInfo'|translate('<a href="' ~ linkTo({module: 'TagManager', action: 'gettingStarted'})~'">', '</a>', '<a href="' ~ linkTo({module: 'TagManager', action: 'manageContainers'})~'">', '</a>')|raw }}</p>
    <div matomo-tagmanager-tracking-code></div>
</div>