<div
        vue-entry="TagManager.TrackingCodeReactPage"
        current-action="{{ action|json_encode }}"
        show-container-row="{{ showContainerRow|json_encode }}"
        step2="{{ step2|json_encode }}"
        step3="{{ step3|json_encode }}"
>
</div>