{% if action != 'siteWithoutDataTabs' %}
<div piwik-content-block anchor="tagmanager" content-title="{{ 'TagManager_MatomoTagManager'|translate }}">
{% endif %}
    <p>{{ 'TagManager_TagManagerTrackingInfoLine1'|translate('<a href="' ~ linkTo({module: 'TagManager', action: 'gettingStarted'})~'">', '</a>')|raw }}</p>
    <br>
    <p>{{ 'TagManager_TagManagerTrackingInfoLine2'|translate('<a href="' ~ linkTo({module: 'TagManager', action: 'manageContainers'})~'">', '</a>')|raw }}</p>
    <div matomo-tagmanager-tracking-code show-container-row="{{ showContainerRow|json_encode }}"></div>
{% if action != 'siteWithoutDataTabs' %}
</div>
{% endif %}